@font-face {
	font-family: 'Anonymous Pro';
	src: 
		url('static/fonts/AnonymousPro-Regular.otf') format('opentype'),
		url('static/fonts/AnonymousPro-Regular.woff') format('woff'),
		url('static/fonts/AnonymousPro-Regular.tff') format('truetype');
	font-weight: regular;
}

.flag{
	font-size: 8px;
	padding-left: 0px;
}

.plain{
	font-size: 12px;
	padding-left: 24px;
 white-space: pre;
}

html {
	font-family: 'Anonymous Pro', regular;
	background-image: linear-gradient(45deg, #000028, #000000);
	margin-left: 48px;
	margin-right: 48px;
	color: #ffffff;
}

h1 {	
	font-size: 24px;
	padding: 0px;

	color: #000028;
	background-color: #ffffff;
}

h2 {
	font-size: 18px;
}

a {
	font-size: 12px;
}

a:link, a:visited {
	color: #ffffff;
}

table {
	border: solid 3px #ffffff;
	border-collapse: collapse;
	font-size: 18px;
	width: 50%;
}

th {
	border: solid 1px #ffffff;
}

td {
	border: solid 1px #ffffff;
	padding: 10px;
}
