@font-face {
	font-family: 'Anonymous Pro';
	src: 
		url('static/fonts/AnonymousPro-Regular.otf') format('opentype'),
		url('static/fonts/AnonymousPro-Regular.woff') format ('woff'),
		url('static/fonts/AnonymousPro-Regular.tff') format('truetype'),
		url('file:///C:/Users/mmtab/Desktop/website/static/fonts/AnonymousPro-Regular.woff') format('woff');
	  /*In Firefox, line 7 requires security.fileuri.strict_origin_policy setting in about:config set to false.
	    This is a minor issue that only affects debugging.*/
	font-weight: regular;
}
html {
	background: linear-gradient(340deg, #262626, #0D0D0D) no-repeat fixed;
	background-size: cover;
	
	color: #aaaaaa;
}
h1 {
	font-family: 'Anonymous Pro', regular;
	font-size: 72px;
	margin-left: 10px;
	margin-top: 10px;
}
h2 {
	font-family: 'Anonymous Pro', regular;
	font-size: 36px;
	margin-left: 10px;
	margin-top: -40px;
}
p {
	font-family: 'Anonymous Pro', regular;
	font-size: 18px;
	margin-left: 10px;
}
table {
	border: solid 3px #aaaaaa;
	border-collapse: collapse;
	font-family: 'Anonymous Pro', regular;
	font-size: 18px;
	width: 50%;
}
th {
	border: solid 1px #aaaaaa;
}
td {
	border: solid 1px #aaaaaa;
	padding: 10px;
}
