@font-face {
	font-family: 'Anonymous Pro';
	src: 
		url('static/fonts/AnonymousPro-Regular.otf') format('opentype'),
		url('static/fonts/AnonymousPro-Regular.woff') format ('woff'),
		url('static/fonts/AnonymousPro-Regular.tff') format('truetype');
	font-weight: regular;
}

html {
	font-family: 'Anonymous Pro', regular;

	background: linear-gradient(#050514, #000000) no-repeat fixed;
	background-size: cover;

	margin-left: 50px;
	margin-right: 50px;

	color: #ffffff;
}

h1 {	
	font-size: 48px;
	padding: 20px;

	color: #050514;
	background-color: #ffffff;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

p {
	font-size: 16px;
	margin-left: 25px;
}

table {
	border: solid 3px #aaaaaa;
	border-collapse: collapse;
	font-size: 18px;
	width: 50%;
}

th {
	border: solid 1px #aaaaaa;
}

td {
	border: solid 1px #aaaaaa;
	padding: 10px;
}
