header h1 {
	font-size: 48px;
	background-image: linear-gradient(to left, #4a235a, #6c3483);
	color: white;
}

body {
	font-family: sans-serif;
	font-size: 16px;
}


table {
	border: 1px solid #333;
	border-collapse: collapse;
	width: 50%;
}

td {
	border: 1px solid #333;
	border-collapse: collapse;
}
