body {
	font-family: sans-serif;
	font-size: 16px;
}


table {
	border: 1px solid #333;
	border-collapse: collapse;
	width: 50%;
}

td {
	border: 1px solid #333;
	border-collapse: collapse;
}
