@font-face {
	font-family: 'Roboto Condensed';
	src: 
		url('static/fonts/RobotoCondensed-Regular.otf') format('opentype'),
		url('static/fonts/RobotoCondensed-Regular.woff') format ('woff'),
		url('static/fonts/RobotoCondensed-Regular.tff') format('truetype'),
		url('file:///C:/Users/mmtab/Desktop/website/static/fonts/RobotoCondensed-Regular.woff') format('woff');
	  /*In Firefox, line 7 requires security.fileuri.strict_origin_policy setting in about:config set to false.
	    This is a minor issue that only affects debugging.*/
	font-weight: regular;
}
html {
	background-image: url("static/images/rer_html.png") no-repeat fixed;
}
h1 {
	font-family: 'Roboto Condensed', regular;
	font-size: 36px;
	
	text-align: center;
	margin: -10px;
	padding: 20px;
	
	background-color: #ffcc30;
}
h2 {
	font-family: 'Roboto Condensed', regular;
	font-size: 36px;
	
	margin-left: 100px;
}
p {
	font-family: 'Roboto Condensed', regular;
	font-size: 24px;
	margin: 100px;
	margin-top: 25px;
	
	text-justify: auto;
}
table {
	border: solid 1px #00000;
	border-collapse: collapse;
	
	margin: 100px;
	margin-top: 25px;
	
	font-family: 'Roboto Condensed', regular;
	font-size: 18px;
	width: 50%;
	
	table-layout:fixed;
}
th {
	border: solid 1px #000000;
	padding: 10px;
}
td {
	border: solid 1px #000000;
	padding: 5px;
}