@font-face {
	font-family: 'Roboto';
	src: 
		url('static/fonts/Roboto-Regular.otf') format('opentype'),
		url('static/fonts/Roboto-Regular.woff') format ('woff'),
		url('static/fonts/Roboto-Regular.tff') format('truetype'),
		url('file:///C:/Users/mmtab/Documents/_Vulnia/_Website/static/fonts') format('woff');
	  /*Firefox : security.fileuri.strict_origin_policy setting in about:config set to false.*/
}
h1 {
	font-family: 'Roboto', regular;
	font-size: 36px;
	
	text-align: center;
	margin: -10px;
	padding: 20px;
	
	background-color: #ffcc30;
}
h2 {
	font-family: 'Roboto', regular;
	font-size: 36px;
	
	margin-left: 100px;
}
p {
	font-family: 'Roboto', regular;
	font-size: 24px;
	margin: 100px;
	margin-top: 25px;
	
	text-justify: auto;
}
table {
	border: solid 1px #00000;
	border-collapse: collapse;
	
	margin: 100px;
	margin-top: 25px;
	
	font-family: 'Roboto', regular;
	font-size: 18px;
	width: 50%;
	
	table-layout:fixed;
}
th {
	border: solid 1px #000000;
	padding: 10px;
}
td {
	border: solid 1px #000000;
	padding: 5px;
}